@using NoteWebApp.Areas.Lab.Models

@{
    ViewBag.Title = "SimpleFileUpload";
}

<h2>SimpleFileUpload / List</h2>

<div class="gutter">

    <div>
        @using (Html.BeginForm("Upload", "SimpleFileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" />
            <input type="submit" name="Submit" id="Submit" value="Upload" />
        }
    </div>

    @Html.Partial("BinaryFileList_Partial", BinaryFile.GetVOList())
</div>

