@using NoteWebApp.Models

@{
    ViewBag.Title = "Index";
    List<Note> notelist = ViewBag.noteList;


}

@foreach (var item in notelist)
{
    <div class="list" onclick="notedetail(@item.NoteId)">
    <ul>
        <li>

            <div class="listTitle">@item.Title<br /><br /></div>
            <div class="listDate">@item.NoteDate</div>
            <hr />
        </li>
    </ul>
    </div>

}


