@using NoteWebApp.Models
@{
    ViewBag.Title = "Index";
    List<NoteBook> noteBookList = ViewBag.noteBookList;
}

<body>
    <h2>노트북리스트</h2>
    @Html.ActionLink("새 노트북", "Create")
    <div class="notelist">

        @foreach (var item in noteBookList)
        {
            <div class="list" onclick="noteBookDetail(@item.NoteBookId)">
                <ul>
                    <li>
                        <div class="listTitle">@item.Name </div>
                        <br />
                        <hr />
                    </li>
                </ul>
            </div>
         }
        <div class="list" onclick="Deleted()">
        <ul>
            <li>
                휴지통
                <br /><br />
                <hr />
            </li>
        </ul>
        </div>
    </div>
</body>
<script>

    function noteBookDetail(NoteBookId){
        window.location = '../NoteBook/List/' + NoteBookId;
    }
    function Deleted() {
        window.location = '../Note/Deleted/';
    }
</script>

