
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>Simple File Upload</h3>
<ul>
    <li>@Html.ActionLink("Home", "Index", "SimpleFileUpload")</li>
    <li>@Html.ActionLink("List", "List", "SimpleFileUpload")</li>
</ul>

