
@{
    ViewBag.Title = "Index";
}

<div class="gutter">
    <section>
        <h3>Simple File Upload</h3>
        <ul>
            <li>@Html.ActionLink("List", "List", "SimpleFileUpload")</li>
        </ul>
    </section>

    <section>
        <h3>HTML5</h3>
        <ul>
            <li><a href="~/Areas/Lab/Content/html/draganddrop.html">Drag and drop</a></li>
            <li><a href="~/Areas/Lab/Content/html/draganddrop2.html">Drag and drop2</a></li>
        </ul>
    </section>
</div>
