
@{
    ViewBag.Title = "Index";
}

<div class="gutter">
    <section>
        <h3>Simple File Upload</h3>
        <ul>
            <li>@Html.ActionLink("List", "List", "SimpleFileUpload")</li>
        </ul>
    </section>
</div>
