
@{
    ViewBag.Title = "Index";
}

<div class="gutter">
    <section>
        <h3>Simple File Upload</h3>
        <ul>
            <li>@Html.ActionLink("List", "List", "SimpleFileUpload")</li>
        </ul>
    </section>

    <section>
        <h3>Drag and drop File Upload</h3>
        <ul>
            <li>@Html.ActionLink("File Upload (File System)", "FileUploadToFileSystem", "DragDropFileUpload")</li>
            <li>@Html.ActionLink("File Upload (Database)", "FileUploadToDatabase", "DragDropFileUpload")</li>
        </ul>
    </section>

    <section>
        <h3>HTML5</h3>
        <ul>
            <li><a href="~/Areas/Lab/Content/html/draganddrop.html">Drag and drop</a></li>
            <li><a href="~/Areas/Lab/Content/html/draganddrop2.html">Drag and drop2</a></li>
        </ul>
    </section>

    <section>
        <h3>SQL Injection</h3>
        <ul>
            <li>@Html.ActionLink("index", "index", "SqlInjection")</li>
        </ul>
    </section>

</div>
