@using NoteWebApp.Models
@{
    ViewBag.Title = "List";
    List<Note> noteList = ViewBag.noteList;
    NoteBook noteBook = ViewBag.noteBook;

}

<h2>@noteBook.Name</h2>
@Html.ActionLink("노트북 정보", "Info", new { id = noteBook.NoteBookId })
<hr />
@foreach (var item in noteList)
{
    <li>
        @Html.ActionLink(item.Title, "../note/Detail", new { id = item.NoteId })

    </li>
}
<hr />

<br />

