<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Scripts/Ckeditor/ckeditor.js"></script>

    <link href="@Url.Content("~/Content/style/global.css")" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!--<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />-->
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    <div class="navbar">
        <ul>
            <li>
                <a href="http://localhost:7223/Note/Create"><img id="NewNote" src="~/Content/menu/add_stroke.png" alt="New Note" /></a>
            </li>
            <li>
                <img src="~/Content/menu/star_stroke.png" alt="Shortcut" onclick="basic()" />
            </li>
            <li>
                <a href="http://localhost:7223/Note/Index"><img src="~/Content/menu/paper_stroke.png" alt="Note" /></a>
            </li>
            <li>
                <a href="http://localhost:7223/NoteBook/Index"><img src="~/Content/menu/book_stroke.png" alt="NoteBook" /></a>
            </li>
            <li>
                <a href="http://localhost:7223/Tag/Index"><img src="~/Content/menu/tag_fill.png" alt="NoteBook" /></a>
            </li>
        </ul>
    </div>
    <div id="shortCutList"></div>
    <div class="container body-content">
        @RenderBody()

    </div>
</body>
</html>
<script>
    function basic() {
        var element = document.getElementsById("shortCutList");
        element.classList.toggle("shortCutList");
        $('.shortCutList').load("/shortcut/index");
    }
    

</script>