@using NoteWebApp.Areas.Lab.Models

@{
    ViewBag.Title = "FileUploadToDatabase";
}

@section Styles {
    <style>
        .filebasket {
            border: solid gray 2px;
            padding: 3em;
            background: gainsboro;
        }

        .result-message {
            background-color: burlywood;
        }
    </style>
}

<h2>FileUploadToDatabase</h2>

<!-- Source reference: http://www.binaryintellect.net/articles/474dc031-087f-4b81-b994-9ca2adb949d6.aspx -->

<div id="fileBasket" class="filebasket">
    Drag-n-Drop files here.
</div>

<div id="progress">
    File uploading...
</div>

@Html.Partial("BinaryFileList_Partial", BinaryFile.GetVOList())

@section Scripts {
    <script>
        $(document).ready(function () {

            $("#progress").hide();

            $("#fileBasket").on("dragenter", function (evt) {
                evt.preventDefault();
                evt.stopPropagation();
            });

            $("#fileBasket").on("dragover", function (evt) {
                evt.preventDefault();
                evt.stopPropagation();
            });

            $("#fileBasket").on("drop", function (evt) {
                evt.preventDefault();
                evt.stopPropagation();

                var files = evt.originalEvent.dataTransfer.files;
                var fileNames = "";
                if (files.length > 0) {
                    fileNames += "Uploading <br/>"
                    for (var i = 0; i < files.length; i++) {
                        fileNames += files[i].name + "<br />";
                    }
                }
                $("#fileBasket").html(fileNames)

                var data = new FormData();

                for (var i = 0; i < files.length; i++) {
                    data.append(files[i].name, files[i]);
                }

                $.ajax({
                    type: "post",
                    url: "/Lab/DragDropFileUpload/UploadToDatabase",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (message) {
                        location.reload();
                        //$("#fileBasket").html(message);
                    },
                    error: function () {
                        $("#fileBasket").html("There was error uploading files!");
                    },
                    error: function (response, status, error) {
                        $("#fileBasket").html(response.responseText);
                    },
                    beforeSend: function () {
                        $("#progress").show();
                    },
                    complete: function () {
                        $("#progress").hide();
                    }
                });
            });
        });
    </script>
}