
@{
    ViewBag.Title = "Create";
}

<body>
    <h2>새 노트북</h2>


    @using (Html.BeginForm("Create", "Tag"))
    {
        <div>
            이름: <br />
            @Html.TextBox("name", "")
        </div>

        <input type="submit" value="저장" />
    }

</body>

