
@{
    ViewBag.Title = "Create";

}
<style>
    #BookDropdown {
        color: #606060;
        line-height: 14px;
        margin: 6px 6px 0 7px;
        max-width: 190px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
</style>

@using (Html.BeginForm("Insert", "Note"))
{
    <b>노트북 :</b>
    <p id="BookDropdown">@Html.DropDownList("noteBookId")</p>
    <div>
        <br />
        @Html.TextBox("title", "", new { placeholder = "노트 제목 지정", maxlength = 15, onkeyUp = "lengthAlert()", autofocus = "autofocus" })
    </div>
    <div id="msg"></div>
    <div>
        <br />
        @Html.TextArea("contents")
    </div>
    <input type="submit" value="저장" />
}


<script>

    $(document).ready(function () {
        CKEDITOR.replace('contents',
            {
                fullPage: true,
                filebrowserImageUploadUrl: '../Handler/Upload.ashx'
            });
    })

    function lengthAlert() {
        var length = document.getElementById("title").value.length;
        if (length > 15) {
            document.getElementById("msg").innerHTML = "제목은 15자 이내로 작성해주세요.";
        } else {
            document.getElementById("msg").innerHTML = "";
        }
    }
</script>

<asp:TextBox ID="txtCkEditor" TextMode="MultiLine" runat="server"></asp:TextBox>


