@using NoteWebApp.Models
@{
    ViewBag.Title = "Index";
    List<Note> notelist = ViewBag.noteList;
    int countNotes = notelist.Count;

    int firstNoteId = -1;
    if (notelist.Count > 0)
    {
        firstNoteId = notelist[0].NoteId;
    }
}


<h2>노트</h2>
<h4>@countNotes 개의 노트</h4>

<div id="noteOrderBy">
    @using (Html.BeginForm("NoteList", "Note", FormMethod.Get))
    {
        @Html.DropDownList("orders", new SelectListItem[]{
        new SelectListItem() { Text = "설정", Value = ""},
        new SelectListItem() { Text = "만든날짜(최근 순으로)", Value = "0"},
        new SelectListItem() { Text = "만든날짜(오래된 순으로)", Value = "1"},
        new SelectListItem() { Text = "제목(내림차순)", Value = "2"},
        new SelectListItem() { Text = "제목(오름차순)", Value = "3"}
       }, new { onchange="callList(this.value)" })
    }
</div>

<div class="noteList"></div>
<div id="noteDetail"></div>



<script>
    var detailUrl = '@Url.Action("Detail", "Note")';
    var listUrl = '@Url.Action("NoteList", "Note")';
    document.getElementById("noteDetail").innerHTML = initDetail();
    window.callList("0", 0); //첫번째 0 : 최근순 / 둘째0 : 노트북 전체

    function notedetail(noteid) {
        $('#noteDetail').load(detailUrl, { selectedNoteid: noteid });
    }
    function initDetail() {
        $('#noteDetail').load(detailUrl, { selectedNoteid: @firstNoteId });
        }
    function callList(val) {
        $('.noteList').load("/Note/NoteList?", { order: val, notebookId : 0 }); 
    }
</script>