@using NoteWebApp.Models

@{
    ViewBag.Title = "Index";

    int firstNoteId = -1;
    if (Model.Count > 0)
    {
        firstNoteId = Model[0].NoteId;
    }

}

<style>
    #noteListDate, .listTitle {
        font-family: 'Montserrat', sans-serif;
    }
</style>

@foreach (var item in Model)
{
    <ul>
        <li>
            <div class="listTitle" onclick="notedetail(@item.NoteId)">
                @item.Title<br /><br />
                <div id="noteListDate"> @item.NoteDate</div>
            </div>
            <hr />
        </li>
    </ul>

}
